@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');

body {
	font-family: 'Lato', sans-serif;
}

.breadcrumps {
	padding:  0;	
	color:  #555;
}

.breadcrumps li {
	display: inline-block;
	margin-right: 10px;
}

.breadcrumps li:not(:last-child)::after {
	content: '';
	margin: 0 5px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(../img/right-chevron-.svg) no-repeat center;
	background-size: contain;
	opacity: .5;
}

.breadcrumps li a {
	text-decoration: none;
	color: #7a99f3;
	transition: color .25s ease;
}

.breadcrumps li a:hover,
.breadcrumps li a:focus,
.breadcrumps li a:active {
	color: #4963ad;
}

.circle {
	width: 300px;
	height: 300px;
	font-size: 0;
	border-radius: 50%;
	overflow: hidden;
}

.sector {
	width:  50%;
	height: 50%;
	display: inline-block;
	font-size: 16px;
}

.circle .sector:nth-child(1) {
<<<<<<< HEAD
	background: #3082aa;
=======
	background: #FFECAA;
>>>>>>> e60145308bc2f059ebed64d41a2dbefd7cd37fb4
	/* border-top-left-radius: 100%;  */
}

.circle .sector:nth-child(2) {
	background: #6E4D8F;
	/* border-top-right-radius: 100%; */
}

.circle .sector:nth-child(3) {
<<<<<<< HEAD
	background: #9acb9b;
=======
	background: #4B698B;
>>>>>>> e60145308bc2f059ebed64d41a2dbefd7cd37fb4
	/* border-bottom-left-radius: 100%;  */
}

.circle .sector:nth-child(4) {
<<<<<<< HEAD
	background: #399aca;
=======
	background: #C96474;
>>>>>>> e60145308bc2f059ebed64d41a2dbefd7cd37fb4
	/* border-bottom-right-radius: 100%; */
}

.flower {
	width: 300px;
	height: 300px;
	font-size: 0;
}

.petal {
	width:  50%;
	height: 50%;
	display: inline-block;
	font-size: 16px;
}

.flower .petal:nth-child(1) {
<<<<<<< HEAD
	background: #689999;
	border-radius: 60px 90px 0 90px; 
=======
	background: #C96474;
	border-radius: 50px 110px 0 110px; 
>>>>>>> e60145308bc2f059ebed64d41a2dbefd7cd37fb4
}

.flower .petal:nth-child(2) {
	background: #44897A;
	border-radius: 110px 50px 110px 0;
}

.flower .petal:nth-child(3) {
	background: #F1A1AE;
	border-radius: 110px 0 110px 50px;
}

.flower .petal:nth-child(4) {
<<<<<<< HEAD
	background: #ca6899;
	border-radius: 0 90px 60px 90px;
=======
	background: #D4966A;
	border-radius: 0 110px 50px 110px;
>>>>>>> e60145308bc2f059ebed64d41a2dbefd7cd37fb4
}

.links {
	list-style-type: none;
}

.links li {
	margin: 10px 0;
}

.links li a {
	text-decoration: none;
	color: #555;
	padding-left: 30px;
	opacity: .7;
	transition: opacity .25s ease;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left center;
}

.links li a:hover,
.links li a:focus,
.links li a:active {
	opacity: 1;
}

.links li a[target="_blank"] {
	background-image: url(../img/001-windows.svg);
}

.links li a[href^="http"] {
	background-image: url(../img/004-link.svg);
}

.links li a[href^="mailto:"] {
	background-image: url(../img/002-envelope.svg);
}

.links li a[href^="tel:"] {
	background-image: url(../img/003-smartphone.svg);
}

.links li a[href$=".pdf"] {
	background-image: url(../img/005-google-drive-pdf-file.svg);
}

.links li a[href$=".xls"],
.links li a[href$=".xlsx"] {}

